<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  <body style=" background: #DAF5FF;">
        <div style=" background: #fff;  width: 100% " >
            <div style="padding: 15% 5% 0; ">
                {{>header}}
                <p style="font-family: Verdana; color: #1C1E3A;
                    font-size: 18px; font-weight: 500">Dear jack, </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
I hope this email finds you well. I am writing to inform you that you have been assigned the Journey with the following details:
</p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
 Name: {{topName}}<br>
Host Name: {{userName}}<br>
Start Time: {{startTime}}<br>
End Time: {{endTime}}<br>
Journey Code: {{journeyId}}<br>
Shift: {{shift}}<br>

</p>
 <div style="display: flex; justify-content: space-around ;">

                    <img src="http://45.79.126.10:3020/file/path/vr.png"
                        style="width:21%" alt>
                    <img src="http://45.79.126.10:3020/file/path/tablet.png"
                        style="width:21%" alt>
                    <img src="http://45.79.126.10:3020/file/path/laptop.png"
                        style="width:21%" alt>
                    <img src="http://45.79.126.10:3020/file/path/mac.png"
                        style="width:21%" alt>
                </div>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
Your expertise and contributions are highly valued, and we believe that your involvement will greatly contribute to the success of this endeavour.




</p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">


If you have any questions or concerns, please do not hesitate to contact me. We look forward to your participation in this project.




</p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

Best regards,
</p>
</p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
jhon

</p>

                
                
                <br>
                <br>
            </div>
            {{>footer}}

        </div>
    </body>
</html>